{% load i18n staticfiles %}
{% load url from future %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Forjme!</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="description">
		<meta content="" name="author">

		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap.css' %}">	
		<link rel="stylesheet" href="{% static 'dashboard/css/combine_fonts.css' %}">	
		<link rel="stylesheet" href="{% static 'dashboard/css/buttons.css' %}">
		<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">

		<!-- color style -->
		<link rel="stylesheet" href="{% static 'dashboard/css/dark.css' %}">

		<link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap-responsive.css' %}">
		<style type="text/css">
			.errorlist li{
				color: #B94A48;
			}
			.errorlist{
				list-style: none;
				margin: 0;
			}
		</style>
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="{% static 'dashboard/plugins/html5.js' %}"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div style="width:40%;margin:auto auto;" class="well">
					<div class="navbar navbar-static navbar_as_heading">
						<div class="navbar-inner">
							<div style="width: auto;" class="container">
								<a class="brand">Forjme!</a>
							</div>
						</div>
					</div>
					{% if form.errors %}
						{{ form.email.errors }}
						<!--<p style="color: #B94A48"></p>-->
					{% endif %}
					<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
					<form method="post" action="">
						{% csrf_token %}
						<fieldset>
							<div class="control-group">
								<label for="id_new_password1" class="control-label">New password:</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on" style="margin-right: -4px;">
											<i class="icon-large icon-mail-1"></i>
										</span>
										<input type="password"  size="16" id="id_new_password1" name="new_password1" class="input-xlarge-fluid" style="height: 28px">
									</div>
								</div>
							</div>
							<div class="control-group">
								<label for="id_new_password2" class="control-label">Confirm:</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on" style="margin-right: -4px;">
											<i class="icon-large icon-mail-1"></i>
										</span>
										<input type="password"  size="16" id="id_new_password2" name="new_password2" class="input-xlarge-fluid" style="height: 28px">
									</div>
								</div>
							</div>
							<div>
								<input class="btn btn-large btn-tigasatu pull-right" type="submit" value="Reset my password"/>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<script src="{% static 'dashboard/assets/js/jquery.js' %}"></script>
		<script src="{% static 'dashboard/assets/js/bootstrap.js' %}"></script>	
	
	</body>
</html>