{% extends "dashboard/base.html" %}

{% block menu %}
	{% include "dashboard/project/project_menu.html" %}
{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url home %}">Home</a></li>
	<li><a href="{% url projects %}">Projects</a></li>
	<li><a href="#">{{ project.name }}</a></li>
	<li><a href="">Sources</a></li>
{% endblock %}

{% block content %}
	<div class="widget-container">
		<div class="well">
			{% include 'dashboard/sources/breadcrumbs.html' %}
			<div class="row-fluid">
				<div class="commit-view">
					<div class="commit-header">
						<span class="pull-right">
							<a class="btn btn-small" href="{% url sources_forcommit project.id commit.hash %}" title="Browse code at this point in history" style="margin-top: -5px">
								<i class="icon-list-alt"></i> Browse code
							</a>
						</span>
            			<h4>{{ commit.message }}</h4>
					</div>
					<div class="commit-body">
						<img src="" class="pull-left space-right" />
            			<span>
            				<a href="">{{ commit.author }}</a> authored in {{ commit.date }}
            				<br />
            				Showing {{ commit.diffs|length }} changed files
            			</span>
					</div>
				</div>
				<ul class="commit-list">
        			{% for diff in commit.diffs %}
            			<li>
            				<i class="icon-doc-1"></i> 
            				<a href="#{{ forloop.counter }}">{{ diff.file }}</a> 
            				<span class="meta pull-right">{{ diff.index }}</span>
            			</li>
        			{% endfor %}
    			</ul>
    			{% for diff in commit.diffs %}
			    <div class="source-view">
			        <div class="source-header">
			            <div class="meta">
			            	<a name="{{ forloop.counter }}">{{ diff.file }}</a>
			            </div>

			            <div class="btn-group pull-right">
			                <a href="{% url sources_commit_history project.id commit.hash diff.file %}" class="btn btn-small">
			                	<i class="icon-list-alt"></i> History
			                </a>
			                <a href="{% url sources_file project.id commit.hash diff.file %}" class="btn btn-small">
			                	<i class="icon-file"></i> View file @ {{ commit.short_hash }}
			                </a>
			            </div>
			        </div>
			        <div class="source-diff">
				        <table>
				        {% for line in diff.lines %}
				            <tr>
				                <td class="lineNo">
				                    {% if line.type != 'chunk' %}
				                        <a name="L{{ forloop.counter }}R{{ line.numOld }}"></a>
				                        <a href="#L{{ forloop.counter }}L{{ line.numOld }}">
				                    {% endif %}
				                    {{ line.numOld }}
				                    {% if line.type != 'chunk' %}
				                        </a>
				                    {% endif %}
				                </td>
				                <td class="lineNo">
				                    {% if line.getType != 'chunk' %}
				                        <a name="L{{ loop.index }}L{{ line.numNew }}"></a>
				                        <a href="#L{{ loop.index }}L{{ line.numNew }}">
				                    {% endif %}
				                    {{ line.numNew }}
				                    {% if line.type != 'chunk' %}
				                        </a>
				                    {% endif %}
				                </td>
				                <td style="width: 100%">
				                    <pre{% if line.type %} class="{{ line.type }}"{% endif %}>
				                    	{{ line.line }}
				                    </pre>
				                </td>
				            </tr>
				        {% endfor %}
				        </table>
			        </div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}