{% extends "dashboard/base.html" %}

{% block menu %}
	{% include "dashboard/general_menu.html" %}
{% endblock %}

{% block breadcrumb %}
	<li><a href="#">Home</a></li>
	<li><a href="{% url home %}">Dashboard</a></li>
{% endblock %}

{% block content %}

<div class="row-fluid columns">
	<ul id="column1" class="span6 column ui-sortable">
		{% include "dashboard/widget/general/last_projects.html" %}
		{% include "dashboard/widget/general/last_pages.html" %}
	</ul>
	<ul id="column2" class="span6 column ui-sortable">
		{% include "dashboard/widget/general/last_news.html" %}
	</ul>
</div>
{% endblock %}