<div class="hero-unit" style="padding: 20px">
	<h4>{{ project.name }}</h4>
	<p style="font-size: 12px;">{{ project.description }}</p>
	<div class="row-fluid">
		<div class="span10">
			<a class="quick-button-small span2">
				<i class="fa-icon-group"></i>
				<p>Users</p>
				<span class="notification">7</span>
			</a>
			<a class="quick-button-small span2">
				<i class="fa-icon-facetime-video"></i>
				<p>Use case</p>
				<span class="notification yellow">2</span>
			</a>
			<a class="quick-button-small span2">
				<i class="fa-icon-tasks"></i>
				<p>Tasks</p>
				<span class="notification red">8</span>
			</a>
			<a class="quick-button-small span2">
				<i class="fa-icon-beaker"></i>
				<p>Milestone</p>
				<span class="notification green">1</span>
			</a>
		</div>
		<div class="span2">
			<a class="btn btn-welcome btn-large pull-right">Learn more</a>
		</div>
		
	</div>
</div>